.tasks {
    margin-top: 30px;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 300ms;
}

.tasks li:hover {
    background-color: grey;
    cursor: pointer;
    border-radius: 15px;
}

.tasks li .edit {
    margin-right: 15px;
    color:#585555;
}

.tasks li .delete {
    margin-right: 15px;
    color:#585555;
}

.tasks li .edit,
.tasks li .delete {
    cursor: pointer;
    transition: all 300ms;
}

.tasks li span {
    display: flex;
    align-items: center;
}
